node_modules
.pnpm-store
dist
build
.next
.turbo
coverage
*.log
.env
.env.local
.DS_Store
storage/uploads
apps/api/generated
packages/database/generated
playwright-report
test-results
.pgdata
.redisdata
.miniodata
.dev-tools
dump.rdb
